.navi{
  margin-left: 40px !important;
}
.navbar-nav{
  margin-left: 400px !important;
}
.nav-item{
  width: 150px !important;
  /* border: 1px solid black; */
}
@media only screen and (max-width: 500px){
  
  .navi{
    
    flex-wrap: wrap;
  }
}