.card-text{
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #second{
    display: flex;
    flex-direction: column-reverse;
  }
 
}

p{
  text-align: justify;
}
.img-fluid{
  border-radius: 8px;
}
#heading{
  text-align:center;
  background-color:  #007BFF;
  height: 70px;
  padding-top: 10px;
  color: white;
  ;
}
