* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
   /* body {
    background-color: #007BFF;
    ;
  } */
#par{
  font-size: 20px;
}

#count{

  background-color: #3c84d1;
}

#sat {
    width: 21vmin;
    height: 21vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    border-radius: 0.5em;
   
  }
  i {
    color:white;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    line-height: 0;
  }

  .horizontal-scroll {
    display: flex;
    gap: 112px;
    height: 320px;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
  .horizontal-scroll__item {
    align-items: center;
    background-color: #3c84d1;
    color: white;
    border: 1px solid black;
    display: flex;
    flex: 0 0 320px;
    font-size: 40px;
    justify-content: center;
    scroll-snap-align: start;
  }




  @media screen and (max-width: 1024px) {
    #sat {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {

    #sat {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
  
    #sat {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }

  p,ul{
    text-align: justify;
  }
#unit{
  font-size: 200% !important;
}