.box {
    position: relative;
    overflow: hidden;
}

#heading{
    text-align:center;
    background-color:  #007BFF;
    height: 70px;
    padding-top: 10px;
    color: white;
    ;
  }
.box .box-img{
    border:4px solid #cecdcd;
    transform:scale(1,1);
    opacity:1;
    transition: all 0.30s ease 0s;
}
.box .box-img img{
    width:100%;
    height:auto;
}
.box:hover .box-img{
    opacity:0;
    transform:scale(2,2);
}
.box .box-content{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    padding: 20% 4%;
    text-decoration:none;
    text-align:center;
    transform:scale(0.5,0.5);
    border:4px solid  #3c84d1;
    background: #3c84d1;
    transition: all 0.30s ease 0s;
}
.box:hover .box-content{
    transform:scale(1,1);
    opacity:1;
}
.box .title{
    margin:0 0 1% 0;
    font-size:20px;
    color:#fff;
    text-transform:uppercase;
}
.box .title:after{
    content: "";
    display: block;
    width:80%;
    margin: 10% auto 3%;
    border-bottom:1px solid #fff;
}
.box .description{
    color:#fff;
    line-height:23px;
}
@media only screen and (max-width: 990px) {
    .box{
        margin-bottom:20px;
    }
}

body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  #fadding {
    
    
    padding: 1rem;
    
    animation-name: fade-in;
    animation-duration: 9s;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
