<<<<<<< HEAD

=======
>>>>>>> origin/main
.card-text{
  font-size: 20px;
}

<<<<<<< HEAD
=======
@media only screen and (max-width: 600px) {
  #second{
    display: flex;
    flex-direction: column-reverse;
  }
 
}
>>>>>>> origin/main

p{
  text-align: justify;
}
<<<<<<< HEAD

=======
>>>>>>> origin/main
.img-fluid{
  border-radius: 8px;
}
#heading{
  text-align:center;
  background-color:  #007BFF;
  height: 70px;
  padding-top: 10px;
  color: white;
  ;
}

<<<<<<< HEAD
@media only screen and (max-width: 600px) {
  #second {
    display: flex;
    flex-direction: column-reverse;
  }
}
=======


body {
  margin: 0;
  padding: 0;
  position: relative;
}
#fadding {
  
  
  padding: 1rem;
  
  animation-name: fade-in;
  animation-duration: 9s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

>>>>>>> origin/main
